### Base Settings ###
SP_SRC_DIR=${PWD}

### ClickHouse Settings ###
SP_CLICKHOUSE_HOST=127.0.0.1
SP_CLICKHOUSE_PORT=19000

### Kafka Settings ###
SP_KAFKA_HOST=127.0.0.1
SP_KAFKA_PORT=29092
SP_KAFKA_TOPIC=sptest

export SP_SRC_DIR
export SP_CLICKHOUSE_HOST
export SP_CLICKHOUSE_PORT
export SP_KAFKA_HOST
export SP_KAFKA_PORT
export SP_KAFKA_TOPIC