### Base Settings ###
SP_SRC_DIR=${PWD}
SP_DATA_DIR=${PWD}/docker/data

### ClickHouse Settings ###
SP_CLICKHOUSE_BIN_DIR=./bin # contain clickhouse, clickhouse-library-bridge, clickhouse-odbc-bridge
SP_CLICKHOUSE_HOST=127.0.0.1
SP_CLICKHOUSE_HTTP_PORT=19000
SP_CLICKHOUSE_TCP_PORT=18123

### Kafka Settings ###
SP_KAFKA_HOST=127.0.0.1
SP_KAFKA_PORT=29092
SP_KAFKA_TOPIC=sptest

export SP_SRC_DIR
export SP_DATA_DIR
export SP_CLICKHOUSE_BIN_DIR
export SP_CLICKHOUSE_HOST
export SP_CLICKHOUSE_HTTP_PORT
export SP_CLICKHOUSE_TCP_PORT
export SP_KAFKA_HOST
export SP_KAFKA_PORT
export SP_KAFKA_TOPIC