### Base Settings ###
SP_SRC_DIR=${PWD}               # test scr dir
SP_DATA_DIR=${PWD}/docker/data  # docker mount dir for data
SP_LOG_DIR=${PWD}/docker/log    # docker mount dir for log

### ClickHouse Settings ###
SP_CLICKHOUSE_BIN_DIR=./bin     # contain clickhouse, clickhouse-library-bridge, clickhouse-odbc-bridge
SP_CLICKHOUSE_HOST=127.0.0.1
SP_CLICKHOUSE_1_PORT=19000
SP_CLICKHOUSE_2_PORT=29000
SP_CLICKHOUSE_BIN=${SP_CLICKHOUSE_BIN_DIR}/clickhouse

### Kafka Settings ###
SP_KAFKA_HOST=127.0.0.1         # broker host name
SP_KAFKA_PORT=29092             # broker port
SP_KAFKA_TOPIC=sptest

export SP_SRC_DIR
export SP_DATA_DIR
export SP_LOG_DIR
export SP_CLICKHOUSE_BIN_DIR
export SP_CLICKHOUSE_HOST
export SP_CLICKHOUSE_1_PORT
export SP_CLICKHOUSE_2_PORT
export SP_CLICKHOUSE_BIN
export SP_KAFKA_HOST
export SP_KAFKA_PORT
export SP_KAFKA_TOPIC